---
pageTitle: 光と色／「RGBとCMYK」から本質を理解する。
txt: <h1>先人達はいかにして自然現象をデジタル化する事が出来たのか。</h1>
---

<!doctype html>
<html>
  <head>
    <title>{{ pageTitle }}</title>
  </head>
  <body>
    <h1>
      {{ txt | safe }}
    </h1>
  </body>
</html>
